/* styles/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
